.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  height: fit-content;
}

.footerContent {
  width: 100%;
  height: var(--footer-height);
  z-index: 3 !important;
  position: relative;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .pageLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 1;

    .pageLink {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      flex: 1 1 auto;
      position: relative;
      opacity: 0.66;

      &.active {
        opacity: 1;
      }
    }
  }

  .languageSwitcher {
    margin-left: 16px;
  }
}
